@define-color bg0 #282828
@define-color bg1 #32302F
@define-color bg2 #32302F
@define-color bg3 #45403D
@define-color bg4 #45403D

@define-color red #EA6962
@define-color green #A9B665
@define-color blue #7DAEA3
@define-color yellow #D8A657
@define-color purple #D3869B
@define-color orange #E78A4E
@define-color aqua #89B482

@define-color fg0 #D4BE98
@define-color fg1 #DDC7A1

@define-color grey0 #7C6F64
@define-color grey1 #928374
@define-color grey2 #A89984
