* {
  /* General taskbar font, I like maple mono ^-^*/
  border: none;
  min-height: 0;
  font-family: Overpass, "0xProto" ;
  border-radius: 0;
  font-size: 14px;
  padding: 0;
  background: transparent;
}

#power-profiles-daemon,
#battery,
#network,
#clock,
#tray,
#workspaces,
#pulseaudio {
  background-image: linear-gradient(to bottom, #27232b 100%);

  margin: 4px;
  margin-right: 0px;
  padding: 4px 8px;
  border-radius: 10px;
  color: #d8cab8;

  border-style: none;
  transition-duration: 120ms;
}

#tray {
  margin-right: 2px;
}

#pulseaudio:hover {
  background-image: linear-gradient(to bottom, #ac82e9 100%);
  color: #141216;
  transition-duration: 120ms;
}

#tray menu menuitem {
  background-image: linear-gradient(to bottom, #27232b 100%);
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  color: #d8cab8;
  border-radius: 10px;
  border-style: solid;
}

#tray menu menuitem:hover {
  background-image: linear-gradient(to bottom, #27232b 100%);
  color: #ac82e9;
  font-weight: bold;
}

#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: bold;
  color: #D4BE98;
  margin-right: 1cm;
  margin-left: 0.4cm;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: #4B3E45;
}
#workspaces button.focused {
  color: #ac82e9;
  font-weight: bold;
}
#workspaces button.active {
  color: #D3869B;
  font-weight: bold;
}
#workspaces button.urgent {
  color: #E78A4E;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #EA6962;
}
