* {
    border: none;
    border-radius: 0;
    font-family: Maple Mono, "0xProto";
    font-size: 16px;
    min-height: 0;
    padding: 0;
    background: transparent;
}

window#waybar {
    background: rgba(43, 48, 59, 0.9);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    background: #e8eaed;
    color: #121212;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#mode, #clock, #battery, #network {
    padding: 0 10px;
    margin: 0 2px;
}

#pulseaudio {
    padding: 0 10px;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio {
    background-color: #ffffff;
    color: black;
}
